@font-face {
  font-family: "Degarism Studio Bold";
  src: url("../fonts/Degarism Studio - NeutrifPro-Medium.otf");
}

@font-face {
  font-family: "Degarism Studio";
  src: url("../fonts/Degarism Studio - NeutrifPro-Light.otf");
}
