
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri Regular.ttf");
}


@font-face {
  font-family: "Degarism Studio Medium";
  src: url("../fonts/Degarism Studio - NeutrifPro-Medium.otf");
}

@font-face {
  font-family: "Degarism Studio";
  src: url("../fonts/Degarism Studio - NeutrifPro-Regular.otf");
}

@font-face {
  font-family: "Degarism Studio Bold";
  src: url("../fonts/Degarism Studio - NeutrifPro-Bold.otf");
}

@font-face {
  font-family: "Degarism Studio Light";
  src: url("../fonts/Degarism Studio - NeutrifPro-Light.otf");
}
