//Menu Button
.menu-btn {
  position: fixed;
  z-index: 3;
  left: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #333;
      @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.close {
      transform: rotate(180deg);
      .btn-line {
          background: #333;
          // Line 1 - Rotate
          &:nth-child(1){
              transform: rotate(45deg) translate(5px, 5px);
          }

          // Line 2 - Rotate
           &:nth-child(2) {
               opacity: 0;
           }

          // Lince 3 - Rotate
           &:nth-child(3) {
              transform: rotate(135deg) translate(-6px, 6px);
           }
      }
  }
}

// Menu Overlay
.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #00000061;
  opacity: 0;
  transition: 0.4;
  @include easeOut;
  &.show {
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
}
.menu {
  transform: translate3d(-100%, 0 , 0);
  @include easeOut;

  &.show {
      visibility: visible;
      transform: translate3d(0, 0, 0);
  }

  &-branding,
  &-nav {
      display: block;
      margin: 0 20% 0 0;

      overflow: hidden;
  }

  // Branding Side
  &-branding {
      background: rgba($primary-color, 0.9);
      transform: translate3d(0, 100%, 0);
      @include easeOut;

      &.show {
          // Slide in from bottom
          transform: translate3d(0, 0, 0);
      }
  }

  .nav-item {
      text-decoration: none;
      transform: translate3d(-600px, 0, 0);
      background: transparent;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      margin: 1em 0;
      list-style-type: none;
      @include easeOut;

      &:hover {
        background: $primary-color;
      }

      &.show {
          // Slide in from right
          transform: translate3d(0, 0, 0);
      }

      a {
        padding-left: 40%;
        padding-right: 10%;
      }

      & a.active {
          background: $primary-color;
      }
  }

  .nav-link {
      display: inline-block;
      position: relative;
      padding: 1rem 0;
      font-weight: 300;
      text-decoration: none;
      @include easeOut;

      &:hover {
    
          color: $secondary-color;
      }
  }
}


//Delay each nav item slide by 0.1s
@for $x from 1 through 7 {
  .nav-item:nth-child(#{$x}) {
    //   transition-delay: $x * 0.1s;
  }
}