//Menu Button

.header-mobile {
        height: $header-mobile-height;
        background: #fff;
    }


.menu {
    background: #fff;
}
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $secondary-color;
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);
        .btn-line {
            background: set-text-color($secondary-color);
            // Line 1 - Rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }

            // Line 2 - Rotate
             &:nth-child(2) {
                 opacity: 0;
             }

            // Lince 3 - Rotate
             &:nth-child(3) {
                transform: rotate(135deg) translate(-6px, 6px);
             }
        }
    }
}

// Menu Overlay
// Menu Overlay
.menu {
    &-desktop{
      display: none;
      @include mediaXL {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
      }
    }

    &-mobile {
      display: none;
      @include mediaSm {
        // display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

   .menu-branding {
        display: grid;
        flex-direction: column;
        padding: 0;
        align-items: center;
        height: 60vh;
        @include mediaSm {
            height: 100vh;
          }
    }

    .nav-item {
      font-family: $font-stack-light;
      font-size: 1em;
      list-style-type: none;
    }

    .nav-link {
      padding: 0.8em 5em;
      &.active {
        background: $primary-color;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  }


//Delay each nav item slide by 0.1s
@for $x from 1 through 5 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}