@import "config";
@import "menu";
@import "buttons";
@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  font-family: $font-stack-light;
  line-height: 1.5;

  strong {
    font-family: $font-stack-bold;
  }
}

header {
  background: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100vh;
  z-index: 1;
}

body {
  font-family: $font-stack;
  background-color: $light-color;
  font-size: 18px;
  line-height: 1.5;
}

section {
  padding: 10px 20px;
  &:nth-child(2n) {
    background: #fff;
  }
  min-height: 100vh;
  .container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    &-md {
      max-width: 1050px;
      margin: 0 auto;
    }
    &-lg {
      max-width: 1250px;
      margin: 0 auto;
    }
  }
}

img {
  width: 100%;
}

.logo {
  position: relative;
  margin-top: 2em;
  height: 20vh;
  left: 100px;
  width: 85px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

#home {
  min-height: 100vh;
  border-bottom: 1px solid #f5f5f9;
  section {
    padding: 0;
  }
  .grid-3 > div {
    width: 100%;
    margin: 0;
    min-height: 100vh;
  }
}

#expertises h1 {
  margin-bottom: 2em;
}

h1 {
  font-size: 1.5em;
  &.home {
    font-size: 4em;
    font-family: $font-stack-light;

    strong {
      font-family: $font-stack-bold;
    }
  }
  &.title {
    font-size: 2.5em;
    line-height: 1.5;
    text-align: center;

    @include mediaMd {
      font-size: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  font-family: $font-stack-bold;

  #context h1 {
    margin-bottom: 0;
  }
}

h2 {
  font-family: $font-stack-bold;
  font-size: 1em;
}

.white {
  background: #fff;
}

.no-padding {
  padding: 0;
}

/** START CONTEXT **/
.context-img {
  position: absolute;
  top: -40px;
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;

  &-1 {
    background-image: url("../images/context/users.svg");
  }

  &-2 {
    background-image: url("../images/context/sablier.svg");
  }

  &-3 {
    background-image: url("../images/context/thumb.svg");
  }
}

small {
  font-size: 0.8em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}

.bkg {
  background: #fff;
}

.card {
  font-family: $font-stack-bold;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: $light-color;
  border-radius: 10px;
  min-height: 300px;
  max-width: 330px;
  box-shadow: 0px 20px 38px -12px rgba(0, 0, 0, 0.2);

  &:not(.primary) {
    position: relative;
    top: 3em;
    @include mediaMd {
      top: 0;
    }
  }

  h2 {
    font-size: 4em;
    display: flex;
    align-items: center;

    small {
      font-size: 0.4em;
    }
  }

  &.primary {
    background: $primary-color;
  }

  &-list {
    position: relative;

    p {
      font-size: 1.4em;
    }
  }

  &-id {
    background: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    -webkit-box-shadow: 66px 71px 172px -75px rgba(135, 135, 135, 1);
    -moz-box-shadow: 66px 71px 172px -75px rgba(135, 135, 135, 1);
    box-shadow: 66px 71px 172px -75px rgba(135, 135, 135, 1);
    max-width: 480px;
    min-height: 600px;

    h2 {
      font-family: $font-stack-light;
      font-size: 1.8em;
      margin-top: 1em;
    }

    h3 {
      font-family: $font-stack-bold;
      color: #bfbfbf;
      margin-top: 0.5em;
    }
  }

  &-follow {
    display: flex;
    align-items: center;
    background: $light-color;
    margin-top: 1em;
    border-radius: 15px;
    padding: 15px 15px;
    width: 260px;
    box-shadow: rgba(135, 135, 135, 0.21) 56px 31px 55px;

    @include mediaXL {
      &:nth-child(1) {
        bottom: 170px;
        right: 256px;
        position: absolute;
      }

      &:nth-child(2) {
        position: absolute;
        right: 400px;
        bottom: -20px;
      }

      &:nth-child(3) {
        position: absolute;
        right: 630px;
        bottom: 100px;
      }
    }
  }
}

.label-group {
  margin-top: 3em;
  margin-bottom: 2em;
}

.label-light {
  font-size: 1.2em;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 1em;
  padding: 0.4em 1.8em;
  text-align: center;
}

.vertical-card {
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 450px;
  grid-template-columns: 20% 80%;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  margin: 1em;
  -webkit-box-shadow: 0px 16px 38px -12px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 16px 38px -12px rgba(0, 0, 0, 0.61);

  @include mediaMd {
    text-align: center;
    margin-bottom: 30px;
    display: block;
  }

  &:not(.primary) {
    position: relative;
    left: 160px;
    @include mediaMd {
      left: 0 !important;
    }
  }
}

#problematiques {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/picture.png");
  background-size: cover;
  background-repeat: no-repeat;

  @include mediaMd {
    display: block;
    margin: auto;
  }
}

.pb-bkg {
  position: relative;
  z-index: -1;
  /* left: 20px; */
}

.pb {
  position: relative;
  /* left: 200px; */
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.3em;
    padding: 0.5em;
  }
  &-img {
    height: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &-1 {
      background-image: url("../images/freins/time.svg");
    }

    &-2 {
      background-image: url("../images/freins/worker.svg");
    }

    &-3 {
      background-image: url("../images/freins/money.svg");
    }

    @include mediaMd {
      margin-top: 1em;
    }
  }
}

/** END CONTEXT **/

#services {
  overflow: hidden;

  .container {
    padding-bottom: 90px;
  }
}

/** Nos expertises **/

.social-logo {
  width: 80px;
  margin-right: 0.5em;
}

.social-service {
  background: $light-color;
  border-radius: 15px;
  -webkit-box-shadow: 0px 16px 38px -12px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 20px 38px -12px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  display: block;
  margin: auto;
  min-height: 350px;

  p {
    margin-top: 2em;
  }

  @include mediaXL {
    &:first-child {
      position: relative;
      top: 2em;
    }
    &:nth-child(2) {
      position: relative;
      top: 5em;
    }
  }
}

.round {
  position: relative;
  min-width: 25em;
  height: 25em;
  background-position: center;
  background-image: url(../images/services/talk360.png);
  background-size: contain;
  background-repeat: no-repeat;
}

p {
  font-size: 1em;
}

i {
  width: 75px;
  height: 75px;
  background-size: contain;
  &.photo {
    background-image: url(../images/services/photo.svg);
    &Y {
      background-image: url(../images/services/photoY.svg);
    }
  }

  &.bilan {
    background-image: url(../images/services/bilan.svg);
    &Y {
      background-image: url(../images/services/bilanY.svg);
    }
  }

  &.talk {
    background-image: url(../images/services/talk.svg);
    &Y {
      background-image: url(../images/services/talkY.svg);
    }
  }

  &.sponsor {
    background-image: url(../images/services/sponsor.svg);
    &Y {
      background-image: url(../images/services/sponsorY.svg);
    }
  }

  &.bell {
    background-image: url(../images/services/bell.svg);
    &Y {
      background-image: url(../images/services/bellY.svg);
    }
  }
}

.arg {
  position: absolute;
  display: flex;
  cursor: pointer;

  .right {
    position: absolute;
    left: -350px;
    margin-right: 105px;
  }

  .h3 {
    top: 19px;
    bottom: 0;
    color: #bbbbbb;

    &.center {
      position: absolute;
      top: 100px;
      text-align: right;
    }

    &.right {
      right: 5px;
      text-align: right;
    }

    &.left {
      left: 5px;
      text-align: left;
    }
  }

  .left {
    position: absolute;
    right: -350px;
    margin-left: 105px;
  }

  .info {
    position: absolute;
    z-index: 0;
    padding: 1em;
    background: white;
    border-radius: 15px;
  }

  &1 {
    left: 17%;
    top: 7%;
  }

  &2 {
    right: 17%;
    top: 7%;
  }

  &3 {
    left: -1%;
    bottom: 30%;
  }

  &4 {
    right: -1%;
    bottom: 30%;
  }

  &5 {
    left: 41%;
    bottom: -2%;
  }
}

.text-center {
  text-align: center;
}

/** START PARALLAX **/

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  right: 8%;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 50vw;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.pb-parallax {
  min-height: 100vh;
}

.card1 {
  background-image: url(../images/squares.svg);
}

.card2 {
  background-image: url(../images/emojis2.svg);
}

.card3 {
  background-image: url(../images/smartphone.svg);
}

.card4 {
  background-image: url(../images/emojis1.svg);
}

/** END PARALLAX **/

/** START PRICE PAGE **/

#price-page {
  display: flex;
  flex-wrap: wrap;
}

#tarifs section {
  max-width: 1200px;
  margin: auto;
}

.bundle {
  background: $light-color;
  border-radius: 25px;
  max-width: 450px;
  margin-left: auto;
}

.check-item {
  display: grid;
  grid-template-columns: 8% 92%;
  margin-bottom: 20px;

  p {
    margin-left: 10px;
  }
}
.price-check-item {
  display: grid;
  grid-template-columns: 8% 92%;
  margin: 20px;

  @include mediaSm {
    margin: 30px 0px;

    p {
      margin-left: 10px;
    }
  }
}

i {
  &.checked {
    max-width: 25px;
    min-height: 25px;
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    margin-right: 1em;
  }
  &.light-checked {
    width: 20px;
    height: 20px;
    background-image: url(../images/item-check.png);
    background-repeat: no-repeat;
  }
}

.engagement {
  background: $primary-color;
  border-radius: 35px;
  padding: 0.5em;
}

.payment-notes {
  font-family: $font-stack-light;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.price {
  font-family: $font-stack-light;
  display: flex;
  align-items: center;
  font-size: 1.8em;
  &-nb {
    font-weight: 600;
    font-size: 2em;
  }

  .period {
    margin-left: 0.2em;
    line-height: 1;
    color: #7f7f7f;
    font-size: 0.8em;
    strong {
      color: #000;
    }
  }
}

i {
  background-repeat: no-repeat;
  background-size: contain;
  width: 65px;
  height: 65px;
}

.insta {
  background-image: url(../images/insta.svg);
  margin-right: 12px;
}

.linkedin {
  background-image: url(../images/Linkedin.svg);
  margin-right: 12px;
}
.gmb {
  background-image: url(../images/gmb.svg);
  margin-right: 12px;
}

.fb {
  background-image: url(../images/fb.svg);
  margin-right: 12px;
}

.smile {
  background-image: url(../images/contact/smiley.png);
}

.profil {
  width: 150px;
  height: 150px;
  background-image: url(../images/contact/photoRaph.png);
}

.square {
  background-size: 100%;
  background-image: url(../images/squares.svg);

  &-top-left {
    position: absolute;
  }
}

/** END PRICE PAGE **/

// Example 2
@keyframes scroll_2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: $primary-color;
  height: 0.5em;
  width: 0.5em;
  top: 0.6em;
  margin-left: -0.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

// General icon style
.scroll-icon {
  display: block;
  position: relative;
  @include mediaXL {
    left: calc(49vw - #{$home-padding});
  }
  height: 4em;
  width: 2em;
  border: 0.2em solid $primary-color;
  border-radius: 1em;
  margin-top: 12vh;
  @include mediaLg {
    margin-left: auto;
    margin-right: auto;
  }
}

#references {
  background-image: url(../images/clients.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: 80%;
  background-attachment: fixed;
  background-position: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  h1 {
    margin-right: 8em;
  }
  @include mediaSm {
    h1 {
      margin-right: 0;
    }
    flex-direction: column;
    background: none;
  }
}

.card-services {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin: 50px 0;

  p {
    margin-top: 15px;
  }

  h2 {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    svg {
      margin-left: 10px;
      background: $primary-color;
      border-radius: 50%;
    }
  }

  i {
    position: absolute;
    top: -31px;
  }
}

@import "buttons";

// @import 'homeparallax';
